<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shikha Bhattarai</title>
    <link rel="stylesheet" href="../assets/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/styles/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preload" href="assets/fonts/Roboto/Roboto-Black.ttf" as="font">
    <link rel="preload" href="/assets/styles/fontawesome/all.css" as="font">
</head>

<body>
    <div id="container-page">
        <nav href="#navbar" class="js-colorlib-nav-toggle page-nav-toggle" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar"><i></i></nav>
        <aside id="nav-aside" class="border js-fullheight" style="height: 100%;">
            <div class="text-center">
                <img src="assets/images/shikha.jpeg" id="img-main" alt="Shikha Headshot" />
                <h1 class="main-title">Shikha Bhattarai</h1>
                <span class="email"><i class="icon-mail"></i>mee.shikha@gmail.com</span>
                <nav id="main-menu" role="navigation">
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="#home" data-nav-section="home">Introduction</a></li>
                            <li><a href="#Education" data-nav-section="timeline">Education</a></li>
                            <li><a href="#Experience" data-nav-section="about">Experience</a></li>
                            <li><a href="#Skills" data-nav-section="about">Hackathons</a></li>
                            <li><a href="javascript:void(0)" class="fa fa-linkedin"></a></li>
                            <li><a><img src="assets/images/Octocat.png" class="fab" /></a></i></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </aside>
    </div>
    <div id="content">
        <div id="home">
            <div class="container intro">
                <h1>Hello, My name is Shikha Bhattarai.</h1>
                <h2>I am a full stack developer.</h2>
                <p>Feel free to checkout my website and learn more about me.</p>
            </div>

            <div id="Education">
                <div class="container education">
                    <div>
                        <h3>University of North Carolina at Charlotte (UNCC)</h3>
                        <p>Master of Science in Information Technology</p>
                        <p>Class of 2020</p>
                    </div>
                    <div>
                            <h3>Northern Kentucky University (NKU)</h3>
                            <p>Major in Computer Information Technology</p>
                            <p>Minor in Computer Science</p>
                        </div>
                </div>
            </div>
        </div>
</body>

</html>