<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Team Up</title>
    <link rel="stylesheet" href="../assets/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/styles/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preload" href="assets/fonts/Roboto/Roboto-Black.ttf" as="font">
    <link rel="preload" href="/assets/styles/fontawesome/all.css" as="font">
</head>

<body>
    <div id="container-page">
        <nav href="#navbar" class="js-colorlib-nav-toggle page-nav-toggle" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar"><i></i></nav>
        <aside id="nav-aside" class="border js-fullheight" style="height: 100%;">
            <div class="text-center">
                <img src="assets/images/shikha.jpeg" id="img-main" alt="Shikha Headshot" />
                <h1 class="main-title">Shikha Bhattarai</h1>
                <span class="email"><i class="icon-mail"></i>mee.shikha@gmail.com</span>

                <nav id="main-menu" role="navigation">
                    <div  class="main-menu">
                        <ul>
                            <li class="active"><a href="#home" data-nav-section="home">Introduction</a></li>
                            <li><a href="#Experience" data-nav-section="about">About</a></li>
                            <li><a href="#Education" data-nav-section="timeline">Experience</a></li>
                            <li><a href="#Skills" data-nav-section="about">Skills</a></li>
                            <li><a href="javascript:void(0)" class="fa fa-linkedin"></a></li>
                            <li><a><img src="assets/images/Octocat.png" class="fab" /></a></i></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </aside>
    </div>
</body>

</html>