#nav-aside {
  padding-top: 1em;
  padding-bottom: 40px;
  float: left;
  width: 300px;
  position: fixed;
  overflow: scroll;
  z-index: 1001;
  background: #314456;
  -webkit-transition: 0.5s;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
#container-page {
  width: 100%;
  overflow: hidden;
  position: relative;
}
h1.main-title {
  color: #ffffff;
  font-size: 1.8rem;
}
ul {
  margin: 0px;
  width: 100%;
  position: relative;
  padding: 27px 0px;
}
li {
  list-style-type: none;
  text-align: center;
}
a {
  color: #57caa0;
}
/* Social Links */
a.fa.fa-linkedin {
  background: #007bb5;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  padding: 7px;
}
img.fab {
  width: 42px;
}
.page-nav-toggle {
  position: fixed;
  left: -5px;
  top: 0px;
  z-index: 9999;
  cursor: pointer;
  opacity: 1;
  visibility: hidden;
  padding: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

img#img-main{
  border-radius: 50%;
  width: 100px;
}

/* Content */
#content{
  width: calc(100% - 300px);
  float: right;
  background: #1ABCA1;
  background: repeating-linear-gradient(
    45deg,
    #1abca1e3,
    #1ABCA1 10px,
    #19c7aa 10px,
    #1ABCA2 20px
  );
}

.container.intro {
  margin-top: 200px;
  color: #314456;
  font-family: Roboto;
  height: 100vh;
}
.container.education {
  margin-top: 200px;
  color: #314456;
  font-family: Roboto;
  height: 100vh;
}